<%= render 'shared/errors', obj: @student%>

<h2 class="center-align"><%= @student.new_record? ? 'Sign Up' : 'Edit' %></h2>
<%= form_for @student do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  
  <% if @student.new_record? %>
    <%= f.submit "Add Student", class: 'waves-effect waves-light btn-small' %> 
  <% else %>
    <%= f.submit "Update Profile", class: "waves-effect waves-light btn-small" %>
  <% end %>
<% end %>