<h2 class="center-align" >Login</h2>
<%= form_for :login do |f| %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>
  
  <%= f.submit "Login", class: 'waves-effect waves-light btn-small' %> 

<% end %>