<ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
</ul>
<nav>
    <div class="container">
      <div >
        <%= link_to "Tech University", root_path, :class => "brand-logo" %>
        <ul class="right hide-on-med-and-down">
            <li><%= link_to "Add Course", new_course_path %></li>
            <li><%= link_to "Courses", courses_path %></li>
            <li><%= link_to "Students", students_path %></li>
            <% if !logged_in? %>
            <li><%= link_to "SignUp", new_student_path %></li>
            <li><%= link_to "Login", login_path %></li>
            <% end%>
            <li><%= link_to "Logout", logout_path, data: {
                      turbo_method: :delete
                    } %>
            </li>
        </ul>
      </div>
    </div>
</nav>